<!DOCTYPE html>
<html>
<head>
	<title>Chuong's page</title>
</head>
<body>
	<% if session[:user_id] %>
		<a href="/sign_out">Sign Out</a> 
		<h1>Hello <%= @user.name %> </h1>
		You are logged in as <%= @user.email %>
	<% else %>
		<a href="/sign_in">Sign In</a> | <a href="/sign_up">Sign Up</a>
	<% end %>

	<%= flash[:notice] if flash[:notice] %>


	<h2>All my posts</h2>
	<ul>
		<% @posts.each do |post| %>
			<li><a href="/posts/<%= post.id %>"><%= post.title %></a> | <a href="/posts/edit/<%= post.id %> " >Edit</a></li>| <a href="/posts/delete/<%= post.id %> " >Delete</a></li>
		<% end %>
	</ul>

	<% if session[:user_id] %>
		<form action="/posts" method="post">
			<label for="title"> Title</label>
			<input type="text" name="title" id="title">
			<br>
			<br>
			<label for="body"> Body</label>
			<textarea type="text" name="body" id="body"> </textarea>

			<button type="submit"> Create Post</button>
			<br>
			<br>
		</form>
	<% end %>





</body>
</html>